			@font-face {
				font-family: 'love_and_trust';
				font-style: normal;
				src: url('//localhost:8888/iruka/wp-content/uploads/useanyfont/160518031735love_and_trust.eot');
				src: local('love_and_trust'), url('//localhost:8888/iruka/wp-content/uploads/useanyfont/160518031735love_and_trust.eot') format('embedded-opentype'), url('//localhost:8888/iruka/wp-content/uploads/useanyfont/160518031735love_and_trust.woff') format('woff');
			}
						body, h1, h2, h3, h4, h5, h6, p, blockquote, li, a{
					font-family: 'love_and_trust' !important;
				}
		